  body {
  backgound-color: #f8f8f8;
  margin:auto;
  
}

* {
  box-sizing: border-box;
}

  .column {
  float: right;
  padding: 10px;
  
}

  .column {
  float: left;
  padding: 10px;
  
}

  .left {
  width: 25%;
}

  .right {
  width: 75%;
}

  .row:after {
  content: ;
  display: table;
  clear: both;
}

  .vl {
  border-left: 2px solid black;
  height: 500px;
  
}

  ul li {list-style-type: none;}

  .ul li {
  position: absolute;
    top: 8px;
    right: 16px;
    padding: 0px;
    float: left;
}

ul li topnav { list-style-type: none;}

  a  {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
  text-decoration: none;
  postion: absolute;
  float: left;
  padding: 0px;
  top: 0px;
  
}

  h1 {
  font-size: 30px;
    font-family: sans-serif;
    padding: 10px;
}

  p {
  font-size: 15px;
    font-family: monospace;
    padding: 10px;
    text-align: align;
}

  article {
  font-size: 15px;
    font-family: monospace;
    padding: 10px;
    text-align: align;
}
